@page "/quejas"

<PageTitle>Portal quejas</PageTitle>

@using taanbus.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http
@inject NavigationManager nav

<h4>Portal de quejas</h4>
<hr>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum sunt, ex tempora similique obcaecati explicabo hic
    placeat soluta dolor praesentium repellat vero sapiente accusantium, eos reiciendis. Dolore nisi iusto eaque!. Lorem
    ipsum dolor sit, amet consectetur adipisicing elit. Commodi odio, velit quo enim earum error ipsam blanditiis
    ducimus, minus cumque ab deleniti. Provident ad delectus pariatur debitis eum labore ut.</p>
<h6>Objetivo</h6>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum iure sunt provident voluptatum expedita consequuntur,
    esse iste ipsam itaque, numquam repudiandae. Veniam odio modi minima voluptatum, consequuntur itaque cum corporis.
</p>
<div class="button_">
    <a class="btn btn-danger" href="queja/form">Presentar queja</a>
</div>

<hr>

<h6>Quejas registradas</h6>

@if (quejas != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Motivo</th>
                <th scope="col">Fecha de hechos</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Fecha de registro</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var queja in quejas)
            {
                <tr>
                    <td scope="col">@queja.Id</td>
                    <td scope="col">@queja.MotivoQueja</td>
                    <td scope="col">@queja.FechaHechos</td>
                    <td scope="col">@queja.Descripcion</td>
                    <td scope="col">@queja.FechaRegistro</td>
                    <td scope="col">
                        <button class="btn btn-outline-dark" @onclick="() => showQueja(queja.Id)"><i><img
                            src="https://img.icons8.com/material-outlined/24/000000/edit--v1.png" /></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><em>Cargando...</em></p>
}


@code {
    private readonly string api = "api/queja";
    private IList<QuejaModel>? quejas;

    protected override async Task OnInitializedAsync()
    {
        quejas = await http.GetFromJsonAsync<IList<QuejaModel>>(api);
    }

    void showQueja(int id)
    {
        nav.NavigateTo($"queja/{id}");
    }
}